@import "../../styles/main";

.productTitle {
  font-weight: bold;
  font-size: 1.4rem;
}

.priceProduct {
  font-size: 1.3rem;
  font-weight: 600;
}

.productInfo {
  h2 {
    font-size: 1.3rem;
    padding-top: .7rem;
  }
}